./02-LINQ/myApp/obj/Debug/netcoreapp3.1/myApp.pdb
./02-LINQ/myApp/bin/Debug/netcoreapp3.1/myApp.dll
./02-LINQ/myApp/bin/Debug/netcoreapp3.1/myApp.pdb
./02-LINQ/myApp/obj/Debug/netcoreapp3.1/myApp.dll
